
.owl-carousel {

    display: none;
    position: relative;
    width: 100%;
    z-index: 1;

    &.owl-loaded {
        display: block;
    }

    &.owl-loading {
        display: block;
        opacity: 0;
    }

    &.owl-hidden {
        opacity: 0;
    }

    .owl-item {
        -moz-user-select: none;
        float: left;
        min-height: 1px;
        position: relative;

        .owl-lazy {
            opacity: 0;
            transition: opacity 400ms ease 0s;
        }

        img {
            display: inline-block;
            max-width: 100%;
            width: 100%;
            transform-style: preserve-3d;
        }
    }

    .owl-refresh .owl-item {
        display: none;
    }

    &.owl-text-select-on .owl-item {
        -moz-user-select: auto;
    }

     .owl-grab {
        cursor: grab;
    }

    &.owl-rtl {
        direction: rtl;

        .owl-item {
            float: right;
        }
    }

    .animated {
        animation-duration: 1000ms;
        animation-fill-mode: both;
    }

    .owl-animated-in {
        z-index: 0;
    }

    .owl-animated-out {
        z-index: 1;
    }

    .fadeOut {
        animation-name: fadeOut;
    }

    .owl-stage {
        position: relative;
    }

    .owl-stage::after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }

    .owl-stage-outer {
        overflow: hidden;
        position: relative;
    }

    .owl-controls {
        text-align: center;

        .owl-nav {
            font-size: 20px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            width: 100%;
            color: $light-color;

            .owl-prev {
                float: left;
                color: $secondary-color;
                background-color: rgba(255, 255, 255, 0.8);

                &:hover {
                    color: darken($secondary-color, 10%);
                }
            }

            .owl-next {
                float: right;
                color: $secondary-color;
                background-color: rgba(255, 255, 255, 0.8);

                &:hover {
                    color: darken($secondary-color, 10%);
                }
            }
        }

        .owl-dots {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 0);

            .owl-dot {
                 padding: 0 5px;

                 span {
                    //background: #e7e7e7 none repeat scroll 0 0;
                    background: $dark-color none repeat scroll 0 0;
                    border-radius: 5px;
                    display: block;
                    height: 10px;
                    width: 10px;
                 }

                 &.active,
                 &:hover {
                    span {
                        background: $primary-color none repeat scroll 0 0;
                    }
                 }
            }
        }

        .owl-nav .owl-prev, 
        .owl-nav .owl-next, 
        .owl-dot {
            -moz-user-select: none;
            cursor: pointer;
            display: inline-block;
            padding: 2px 15px 0;
        }
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.owl-height {
    transition: height 500ms ease-in-out 0s;
}

.no-js .owl-carousel {
    display: block;
}

//video
.owl-carousel .owl-video-wrapper {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    position: relative;
}
.owl-carousel .owl-video-play-icon {
    background: rgba(0, 0, 0, 0) url("owl.video.play.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    transition: scale 100ms ease 0s;
    width: 80px;
    z-index: 1;
}
.owl-carousel .owl-video-play-icon:hover {
}
.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}
.owl-carousel .owl-video-tn {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    opacity: 0;
    transition: opacity 400ms ease 0s;
}
.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
}
