/**
 * Variables and Bootstrap overrides
 */

// Colors
//...............
$primary-color:          darken(#9BC1BC, 10%); //#a5bdc8;
$tertiary-color:         #f08484; //#f46524;

$danger-color:           darken($primary-color, 15%); //#597e8d;
$info-color:             #f5f5f5; //#aeb7c0; //#eceff1;
$secondary-color:        #424242;
$success-color:			 darken(#9BC1BC, 10%);

$default-color:          $secondary-color;
$gray-dark:              $secondary-color;
$dark-color:             #424242;
$lighter-color:          #ffffff;
$light-color:            #f5f5f5;
$default-bg-color: 		 $light-color;
$footer-secondary-color: $light-color;

$banner-primary-color:   $primary-color;
$banner-secondary-color: $info-color;
$banner-info-color:   	 $info-color;

$body-bg:                #ffffff;
$text-color:             $secondary-color;

// Fonts
//...............
$primary-font:           "Open Sans", "Microsoft YaHei", Helvetica, Arial, sans-serif;
$secondary-font:         "Open Sans", "Microsoft YaHei", Helvetica, Arial, sans-serif; //"Arial", "Arvo", Georgia, Times, serif;

$font-size:              14px;

// Buttons
//...............
$buttons-transition:     background 0.1s linear;

// Common placeholders
//...............

%color-primary-color {
  color: $primary-color;
}

%color-danger-color {
	color: $danger-color;
}

%color-secondary-color {
  color: $secondary-color;
}

%color-light-color {
  color: $light-color;
}

%background-primary-color {
  background-color: $primary-color;
}

%background-light-color {
	background-color: $light-color;
}

%background-secondary-color {
  background-color: $secondary-color;
}

%background-tertiary-color {
  background-color: $tertiary-color;
}

%color-tertiary-color {
  color: $tertiary-color;
}