<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row" id="account-login">
        <div class="col-xs-12">
          <div class="banners--big">
          <h3 class="text-center">注册 | 登陆</h3>
          </div>
          <hr>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3>用户登录</h3>
          <form action="#" class="push-down-15">
            <div class="form-group">
              <input type="text" id="username" class="form-control  form-control--contact" placeholder="用户名 / Username 或 邮箱 / Email">
            </div>
            <div class="form-group">
              <input type="text" id="password" class="form-control  form-control--contact" placeholder="密码 / Password">
            </div>
            <p id="login-error"></p>
            <a href="#" id="login" class="btn  btn-primary">登录</a>
          </form>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3>新用户注册</h3>
          <form action="#" class="push-down-15">
              <div class="form-group">
                <input type="text" id="new-username" class="form-control  form-control--contact" placeholder="用户名 / Username">
              </div>
              <div class="form-group">
                <input type="text" id="new-email" class="form-control  form-control--contact" placeholder="邮箱 / Email">
              </div>
              <div class="form-group">
                <input type="text" id="new-password" class="form-control  form-control--contact" placeholder="密码 / Password">
              </div>
              <a href="#" class="btn  btn-primary">注册</a>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>