<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row" id="account-dashboard">
        <div class="col-xs-12">
          <div class="banners--big">
          <h3 class="text-center">账户信息</h3>
          </div>
          <div class="row text-center">
            <h5>欢迎 {{this.username}}</h5>
            <a href="#account">账户首页</a> - 
            <a href="#account/orders">我的订单</a> -
            <a href="#cart">我的购物车</a> -
            <a href="#" id="logout">登出账户</a>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>