// alerts
.alert {
  padding: 11px;
  font-family: $secondary-font;
  font-weight: 700;
  color: $default-color;
  font-size: 12px;
  border-color: transparent;

  button.close {
    margin-top: -1px;
  }
}

.alert-success {
  @extend %background-primary-color;
}

.alert-default {
  background: $default-color;
  color: $light-color;
}

.alert-dark {
  background: $dark-color;
}

.alert-primary {
  @extend %background-primary-color;
}

.alert-info {
  background: $info-color;
}

.alert-warning {
  @extend %background-tertiary-color;
}

.alert-danger {
  background: $danger-color;
}