// banners
%banners {
  border-radius: 0;
  margin: 0 0 18px 0;
  color: $dark-color;
  font-weight: 200;
  font-size: 15px;
  //text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

// Widget banners
.banners {
  background: $default-color;
}

.banners-box {
  padding: 25px;
  padding-right: 0;
  transition: all 0.2s linear;
  color: $dark-color;
  line-height: 1.35;

  &:hover {
    @extend %color-secondary-color;
    transition: all 0.1s linear;
  }

  .glyphicon--banners {
    display: block;
    font-size: 30px;
    float: left;
    margin: 0 10px 0 0;
  }

  .banners__title {
    font-family: $secondary-font;
    display: block;
  }
}

.banners--small {
  @extend %banners;
  background: $light-color;
  padding: 19px;
  text-align: center;
  font-family: $secondary-font;
  text-transform: uppercase;
  font-size: 16px;
  text-shadow: none;
  color: $danger-color;

  .banners--small--text {
    font-family: $primary-font;
  }
}

.banners--small--social {
  text-align: left;
  margin: 15px 0;

  .social {
    transition: all .1s linear;
    color: $dark-color;

    .zocial-pinterest,
    .zocial-twitter,
    .zocial-facebook,
    .zocial-email {
      font-family: 'zocial', sans-serif;
      padding: 9px 0 0 11px;
      width: 36px;
      height: 36px;
      color: $dark-color;
      margin: 0 5px 0 0;
      display: inline-block;
      transition: all .1s linear;
      float: left;
    }

    &:hover {
      @extend %color-secondary-color;
      text-decoration: none;

      .zocial-pinterest,
      .zocial-twitter,
      .zocial-facebook,
      .zocial-email {
        @extend %color-secondary-color;
      }
    }
  }
}

.banners--medium {
  @extend %banners;
  @extend %background-secondary-color;
  background-image: image-url("pattern_dark.png");
  padding: 26px 52px 26px 26px;
  position: relative;

  .glyphicon-circle {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -16px;
  }
}

.banners--medium--info {
  text-align: center;
  padding: 16px;

  &:after {
    content: "";
    border: 0;
  }
}

.banners--big {
  @extend %banners;
  text-align: center;
  //background: image-url("noise_pattern.png"), linear-gradient(to right, darken($banner-primary-color, 15%) 0%, $banner-primary-color 50%, darken($banner-primary-color, 15%) 100%);
  //background: image-url("noise_pattern.png"), linear-gradient(to right, darken($banner-info-color, 15%) 0%, $banner-info-color 50%, darken($banner-info-color, 15%) 100%);
  background-color: $banner-info-color;
  padding: 24px;

  h3 {
    margin: 0;
  }
}

.banners--big-left {
  padding: 16px 16px 16px 32px;

  @media (min-width: $screen-md-min) {
    text-align: left;
  }

  .banners--big__text {
    margin-top: 6px;
  }
}

.banners--big__form {
  text-align: center;

  .form-group--form {
    margin: 0;

    @media (min-width: $screen-md-min) {
      text-align: right;
    }
  }

  .form-control--form {
    display: inline;
    width: 200px;
    height: 36px;
    border-radius: 2px;
  }
}

