// Buttons - classic
.btn {
  //font-family: $secondary-font;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 13px;
  color: $default-color;
  border-radius: 1px;
  border: 0;
  padding: 7px 18px;
  transition: all .1s linear;

  &.btn-lg {
    font-size: 20px;
    width: 100%;
  }

  &.btn-md {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
  }

  &:focus {
    color: $default-color;
    outline: none;
  }

  &.selected-time, &.select-address {
    white-space: normal;
  }
}

/*
.stick-bottom {
  @media (max-width: $screen-sm-min) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 20px 0;
  }
}
*/

.btn-primary, .btn-warning {
  color: $light-color;

  &:hover, &:focus {
    color: $light-color;
  }
}

.btn-info {
  &:hover, &:focus {
    color: inherit;
  }
}

.btn-dark {
  background: $dark-color;

  &:hover, &.selected {
    color: $default-color;
    background: darken($dark-color, 10%);
  }
}

.btn-default {
  color: $dark-color;
  border: 1px solid $light-color;
  padding: 7px 18px;
  background: transparent;
  transition: all 0.1s linear;

  &:hover, &.selected {
    color: $lighter-color;
    background: $dark-color;
    border: 1px solid $dark-color;
    padding: 7px 18px;
  }
}

.btn-darker {
  color: $light-color;
  @extend %background-secondary-color;

  &:hover, &.selected {
    color: $light-color;
    background: darken($secondary-color, 10%);
  }
}

// Buttons - transition
.btn-primary--transition,
.btn-dark--transition,
.btn-warning--transition,
.btn-info--transition,
.btn-danger--transition,
.btn-darker--transition {
  transition: $buttons-transition;

  &:hover, &.selected {
    background: transparent;
    padding: 7px 18px;
  }
}

.btn-primary--transition {
  @extend %background-primary-color;

  &:hover, &.selected {
    @extend %color-primary-color;
    border: 1px solid $primary-color;
  }
}

.btn-dark--transition {
  background: $dark-color;

  &:hover, &.selected {
    color: $dark-color;
    border: 1px solid $dark-color;
  }
}

.btn-warning--transition {
  @extend %background-tertiary-color;

  &:hover, &.selected {
    @extend %color-tertiary-color;
    border: 1px solid $tertiary-color;
  }
}

.btn-info--transition {
  background: $info-color;

  &:hover, &.selected {
    color: $info-color;
    border: 1px solid $info-color;
  }
}

.btn-danger--transition {
  background: $danger-color;

  &:hover, &.selected {
    color: $danger-color;
    border: 1px solid $danger-color;
  }
}

.btn-darker--transition {
  color: $light-color;
  @extend %background-secondary-color;

    &:hover, &.selected {
    @extend %color-secondary-color;
    border: 1px solid $secondary-color;
  }
}

.btn-default--transition {
  color: $dark-color;
  border: 1px solid $light-color;
  padding: 7px 18px;
  background: transparent;
  transition: border 0.1s linear;

  &:hover, &.selected {
    background: transparent;
    color: $dark-color;
    border: 1px solid $secondary-color;
    padding: 7px 18px;
  }
}

// Buttons - reverse transition
.btn-primary--reverse-transition,
.btn-dark--reverse-transition,
.btn-warning--reverse-transition,
.btn-info--reverse-transition,
.btn-danger--reverse-transition,
.btn-darker--reverse-transition {
  transition: $buttons-transition;
  background: transparent;
  padding: 7px 18px;

  &:hover, &.selected {
    color: $lighter-color;
  }
}

.btn-primary--reverse-transition {
  // @extend %color-primary-color;
  border: 1px solid $primary-color;
  color: $primary-color;

  &:hover, &.selected {
    @extend %background-primary-color;
  }
}

.btn-dark--reverse-transition {
  color: $dark-color;
  border: 1px solid $dark-color;

  &:hover, &.selected {
    background: $dark-color;
  }
}

.btn-warning--reverse-transition {
  // @extend %color-tertiary-color;
  border: 1px solid $tertiary-color;
  color: $tertiary-color;

  &:hover, &.selected {
    @extend %background-tertiary-color;
  }
}

.btn-info--reverse-transition {
  color: $info-color;
  border: 1px solid $info-color;

  &:hover, &.selected {
    background: $info-color;
  }
}

.btn-danger--reverse-transition {
  color: $danger-color;
  border: 1px solid $danger-color;

  &:hover, &.selected {
    background: $danger-color;
  }
}

.btn-darker--reverse-transition {
  // @extend %color-secondary-color;
  border: 1px solid $secondary-color;
  color: $secondary-color;

  &:hover, &.selected {
    @extend %background-secondary-color;
  }
}

.btn-default--reverse-transition {
  background: $lighter-color;
  color: $dark-color;
  border: 1px solid $secondary-color;
  padding: 7px 18px;
  transition: border 0.1s linear;

  &:hover, &.selected {
  color: $dark-color;
  border: 1px solid $light-color;
  background: $lighter-color;
  }
}

// Custom buttons
.btn-jumbotron {
  background: transparent;
  color: $light-color;
  border: 1px solid $light-color;
  padding: 7px 18px;
  transition: all 0.1s linear;

  &:hover, &.selected {
    @extend %color-secondary-color;
    background: $light-color;
    border: 1px solid $light-color;
  }
}

.btn-shop {
  font-size: 14px;
  color: $dark-color;
  background-color: $lighter-color;
  border: 1px solid $light-color;
  box-shadow: 0 1px 1px $light-color;
  padding: 10px;

  &:hover, &.selected {
    @extend %color-primary-color;
    border: 1px solid $light-color;
    color: darken($dark-color, 10%);
  }
}