.woocommerce {
  border-radius: 20px;

  .woocommerce-info {
    border: 1px solid $info-color;
    background-color: $info-color;
    padding: 10px 20px;
    border-radius: 2px;
  }

  .required {
    @extend %color-tertiary-color;
  }

  .input-text {
    @extend %color-secondary-color;
    display: block;
    border: 1px solid $info-color;
    border-radius: 2px;
    background-color: $info-color;
    width: 100%;
    padding: 10px;

    &.error {
      border: 1px solid $tertiary-color;
      background-color: lighten($tertiary-color, 25%);
    }

    &.valid {
      border: 1px solid $success-color;
      background-color: lighten($success-color, 30%);
    }
  }

  .form-row {
    margin: 20px 0 0 0;

    @media (min-width: $screen-sm-min) {
      margin: 40px 0 0 0;
      float: right;
    }
  }

  .order_details {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 22px;

    strong {
      display: block;
      text-transform: none;
      color: $dark-color;
      font-size: 14px;
    }

    .order,
    .date,
    .total,
    .method {
      display: block;
      margin: 0px 10px 5px 0;
      padding: 0px 10px 0 0;
      font-size: 14px;
      text-transform: uppercase;

      @media (min-width: $screen-xs-min) {
        display: inline-block;
        border-right: 1px dashed $dark-color;
      }
    }
  }
}

.shop_table {
  border: 1px solid $light-color;
  width: 100%;
  font-weight: 200;
  font-size: 16px;

  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > th,
  > tfoot > tr > td,
  > tbody > tr > td {
    padding: 10px;
    border-top: 1px solid $light-color;
  }

  > tfoot,
  > thead {
    background-color: $info-color;
  }
}

.payment {
  .payment_methods {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid $light-color;
    border-radius: 2px;
    background-color: $info-color;
  }

  .payment_box {
    margin: 10px 1.5%;
    padding: 10px 10px 0 10px;
    border: 1px solid $light-color;
    border-radius: 2px;
    background-color: $light-color;
    display: none;
  }
}

.shop-cart {
  border: 1px solid $light-color;
  border-radius: 2px;
  width: 100%;

  .cart_table_title {
    background-color: $info-color;

    .actions {
      width: 100%;
    }

    .product-remove,
    .product-thumbnail,
    .product-name,
    .product-price,
    .product-quantity,
    .product-subtotal {
      padding: 10px;
      font-weight: 200;
      font-size: 16px;
    }
  }

  .cart_table_item {
    .product-remove,
    .product-thumbnail,
    .product-name,
    .product-price,
    .product-quantity,
    .product-subtotal {
      padding: 10px;
      font-weight: 200;
      font-size: 16px;
    }

    .product-thumbnail img {
      width: 50px;
    }

    .quantity {
      margin: 0;
    }

    .quantity__button {
      display: none;

      @media (min-width: $screen-sm-min) {
        display: inline;
      }
    }
  }

  .product-remove {
    width: 6%;
    text-align: center;
  }

  .product-thumbnail {
    width: 7%;
  }

  .product-name {
    width: 40%;
  }

  .product-price {
    width: 8%;
  }

  .product-quantity {
    width: 25%;
  }

  .product-subtotal {
    width: 14%;
  }

  .cart_table_action {
    background-color: $info-color;

    .actions {
      padding: 8px 0px;

      .btn {
        margin: 3px 0 3px 10px;
      }
    }

    .input-text {
      width: 120px;
      display: inline-block;
      height: 36px;
      background-color: $body-bg;
    }
  }
}

#address-wrap {
  display: none;
}

.customer_details {
  dt {
    font-weight: 300;
  }

  dd {
    font-weight: 600;
  }
}