// Contact forms
.form-control--contact {
  background-color: $info-color;
  border: 1px solid $light-color;
  box-shadow: none;
  height: 38px;
  box-shadow: 0px 1px 2px $light-color inset;
  margin: 10px 0 0 0;

    &:focus {
    border-color: transparent;
    border: 1px solid $light-color;
    box-shadow: 0px 1px 2px $light-color inset;
  }
}