.file {
    width: 150px;
    height: 50px;
    overflow: hidden;

    input[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    label {
        display: inline-block;
        cursor: pointer;
    }
}