// Header
.padding-header {
  padding-top: 112px;
}

.header {
  top: 40px;
  background-color: $body-bg;
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  //border-bottom: 1px solid darken($light-color, 10%);
  //background: linear-gradient(to bottom, $lighter-color 0%, $default-color 100%);
  position: fixed;
  width: 100%;
  z-index: 1001;

  .header-logo {
    padding: 5px 0;
  }

  .navbar-toggle {
    float: left;
    border: 0;
    margin: 20px 0;
    @extend %background-secondary-color;

    &.collapsed {
      @extend %background-primary-color;
    }

    .icon-bar {
      background-color: $lighter-color;
    }
  }
}

// mobile navbar form
.mobile-navbar-form {
  padding-top: 1em;
  padding-bottom: 2em;

  .form-control {
    border: 1px solid $light-color;
    border-right: none;
    background: $lighter-color;
  }
}
.mobile-navbar-form__appended-btn {
  background: none;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

// Sticky header
@media (min-width: $screen-md-min) {
  .fixed-header {
    .header {
      position: fixed;
      width: 100%;
      box-shadow: 0 0 5px $dark-color;
      top: 0;
    }

    .top {
      margin-bottom: 100px;
    }
  }
}