// Modals
.modal-header {
  border-bottom: none;
  padding: 15px 30px 0 30px;

  button.close {
  	padding: 10px;
  }

  h3 {
  	padding-left: 40px;
  }
}

.modal-body {
  padding: 0 30px 20px 30px;
}

.modal {
  overflow-y: auto;
}

.modal-open {
  overflow: auto;
}

.modal-content {
	border-radius: 0;
}