/**
 * Sidebars
 *
 * also for shop
 */

.sidebar__title {
  margin-top: 0;
  margin-bottom: 0;
}

.shop__divider {
  border: 1px solid $light-color;
  margin-bottom: 11px;
}

.sidebar--shop {
  .divider {
    margin: 12px 0;
  }
}

.shop__amount-filter {
  font-size: 16px;
  margin: -10px 0;
  padding: 9px 0 0 0;

  > li {
    > a {
      padding: 3px 10px 1px 10px;
      margin: 0px -1px;
      color: $dark-color;
    }
  }
}

.sidebar__subtitle {
  margin-top: 0;
}

.shop__sort-filter {
  float: left;
  margin: 0;
}

.shop__amount-filter__link {
  @extend %color-secondary-color;

  &:hover {
    @extend %color-primary-color;
  }
  &:active {
    background: none;
  }
}

.shop__pagination {
  text-align: center;
  margin-bottom: 40px;
}

// Color and style of Shop sidebar links
.nav--filter > li > a {
  padding: 4px 0;
  @extend %color-secondary-color;

  &.selected {
    font-weight: 700;
  }

  &:hover {
    background: none;
    text-decoration: underline;
  }
}

@media (max-width: $screen-sm-min) {
  .shop__sort-filter {
    margin: 0;
    float: center;
  }
}