// Affix sidebar menu
.features-menu {
  &.affix {
    top: 50px;
  }
}

.nav-sidebar-menu {
  border: 1px solid $light-color;
  background-color: none;
  border-radius: 2px;

  > li {
    > a {
      color: $dark-color;
      font-weight: 600;
      border-bottom: 1px solid $light-color;
    }

    &.active a,
    > a:hover {
      @extend %color-secondary-color;
      background: $lighter-color;
      position: relative;

      &:before,
      &:after {
        position: absolute;
        content: "";
        height: 100%;
        width: 3px;
        top: 0;
      }

      &:before {
        @extend %background-primary-color;
        left: -1px;
      }

      &:after {
        right: -1px;
        background: $lighter-color;
      }
    }
}
}