// Single products
.single-product__title {
  margin: 10px 0 20px 0;
}

.single-product__price {
  @extend %color-primary-color;
  font-size: 34px;
  font-weight: 200;
  position: relative;

  @media (min-width: $screen-sm-min) {
    padding-right: 16px;

    &:after {
      position: absolute;
      content: "";
      background-color: $dark-color;
      width: 1px;
      height: 18px;
      right: 0;
      top: 50%;
      margin-top: -8px;
    }
  }
}

.single-product__rating {
  position: relative;

  @media (min-width: $screen-sm-min) {
    top: -7px;
    display: inline;
    padding: 0 16px;

      &:after {
      position: absolute;
      content: "";
      background-color: $dark-color;
      width: 1px;
      height: 18px;
      right: 0;
      top: 50%;
      margin-top: -8px;
    }
  }
}

.in-stock--single-product {
  @media (min-width: $screen-sm-min) {
    display: inline;
    position: relative;
    padding-left: 16px;
    top: -8px;
  }
}

.star-off {
  color: darken($info-color, 15%);
}

.star-on {
  @extend %color-primary-color;
}

.single-product__text {
  font-size: 14px;
}

.single-product__btn-text {
  padding: 0 0 0 10px;
}

.products__content {
  @media (min-width: $screen-md-min) {
    margin-left: 30px;
  }

  .btn-group {
    display: inline;
  }

  text-align: center;

  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
}

.quantity {
  display: inline-block;

  .quantity__input,
  .quantity__button {
    font-size: 16px;
    border: 1px solid $light-color;
    border-radius: 0;
    height: 36px;
    font-weight: 200;
    font-family: $secondary-font;
    text-align: center;
    margin: 0 -2px;
  }

  .quantity__button {
    @extend %color-secondary-color;
    background-color: transparent;
    width: 32px;

    &:hover {
      background-color: $light-color;
    }
  }

  .quantity__input {
    @extend %color-danger-color;
    background-color: $info-color;
    width: 40px;
  }
}