.social-container {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  color: lighten($light-color, 10%);
  box-shadow: 0 0 0 1px $dark-color;
  margin-right: 5px;
  font-size: 17px;
  margin-bottom: 10px;

  &:after {
    transition: transform .1s linear;
    background-color: $dark-color;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    content: "";
    border-radius: 50%;
    position: absolute;
  }

  &:hover {
    color: lighten($light-color, 10%);

    &:after {
      transform: scale(0.85);
    }

    > span {
      @extend %color-light-color;
    }
  }

  > span {
    transition: color .1s linear;
    position: relative;
    z-index: 1;
  }
}
