// tables
.table > tbody > tr > td {
  border: 0;
  color: lighten($text-color, 10%);
  font-size: 14px;
  font-weight: 600;
}

.table-theme > thead > tr > th,
.table > thead > tr > th {
  border: 0;
  background: $lighter-color;
  @extend %color-secondary-color;
}

.table-striped > tbody > tr:nth-child(odd) > td {
  background: $light-color;
  border-radius: 3px;
}

.table-striped > tbody > tr:nth-child(odd).active > td {
  background: $lighter-color;
}

.table-theme > thead > tr > th {
  border-radius: 3px;
}

.table-theme {
  border-collapse: separate;
  border-spacing: 3px;
}

.table-theme tr.active td {
  @extend %color-primary-color;
  border: solid 1px $light-color;
}

.table-theme tr.inactive td {
  color: $dark-color;
}