// Toggles
.panel-heading {
  margin: 10px 0;
}

.panel-title {
  margin: 0;
  width: 100%;
  background: $light-color;
  border: 1px solid darker($light-color, 10%);
  padding: 8px;
  border-radius: 2px;
}

.panel-link {
  font-size: 13px;
  @extend %color-secondary-color;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }
}
