// Top

.top {
  @extend %background-light-color;
  border-bottom: 1px solid darken($light-color, 10%);
  font-size: 20px;
  font-weight: 200;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  z-index: 1003;

  .dropdown {
    &:hover {
      .dropdown-menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .dropdown-menu {
    min-width: 45px;

    &.show-menu {
      opacity: 1;
      visibility: visible;
    }

    > li{
      .last {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      > a {
        @extend %background-secondary-color;
        text-align: left;
        font-size: 20px;
        padding: 6px 10px;
        color: $dark-color;
        font-weight: 200;
        border-bottom: 1px solid lighten($secondary-color, 10%);

        &:hover {
          background-color: lighten($secondary-color, 10%);
          color: $lighter-color;
        }
      }
    }
  }

  .nav {
    .caret {
      border-top-color: $dark-color;
    }

    > li {
      display: inline-block;
      float: none;

      > a {
        color: $primary-color;
        padding: 8px 5px;
        margin: 0 5px;
        background: none;
        line-height: 20px;

        &.primary-color {
          color: $primary-color;

          &:hover {
            color: darken($primary-color, 10%);
          }
        }

        &.warning-color {
          color: $tertiary-color;

          &:hover {
            color: darken($tertiary-color, 10%);
          }
        }

        > span.cart-count {
          color: $danger-color;
          font-size: 16px;
        }

        > img {
          display: inherit;
        }

        > span.icon-text {
          font-size: 12px;
          margin-right: 5px;

          @media (max-width: 320px) {
            display: none;
          }

          > .icon-text-not-show {
            display: none;
          }

          > .icon-text-more {
            display: inline;
            margin-left: 5px;

            @media (max-width: 320px) {
              display: none;
            }
          }
        }
      }
      &:hover {
        .caret,
        a {
          color: $primary-color; //$secondary-color;
          border-top-color: $default-color;
        }
      }
    }
  }
}

.icon-text-more, .icon-text-not-show {
  display: block;
}

.top__slogan,
.top__menu {
  text-align: center;
  color: $dark-color;
}

// On non mobile screens
@media (min-width: $screen-sm-min) {
  .top__slogan {
    text-align: left;
    padding: 7px 0;
  }

  .top__menu {
    text-align: right;
  }
}