// widgets
.widgets__navigation {
  margin: 22px 0px 58px 0;
}

.widgets__heading--line {
  text-align: center;
  position: relative;

    &:after {
    z-index: 1;
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 1px;
    background: $light-color;
  }
}

.widgets__heading {
  position: relative;
  text-align: center;
  z-index: 2;
  display: inline-block;
  padding: 0 10px;
  background-color: $body-bg;
  margin: 30px 0;
  font-weight: 300;
}

.widgets__products {
  float: left;
  margin-right: 10px;
}

.widgets__products--galery {
  margin: 0 10px 10px 0;
}

.products__price--widgets {
  @extend %color-danger-color;
  padding: 0 3px;
  font-weight: 500;
  font-size: 14px;
}