<div class="container">
  <div class="row">
    <div class="col-xs-12">
          <div class="row" id="admin-products">
            <h5>产品列表</h5>
            <p id="error"></p>
            <table class="table push-down-30">
              <thead>
                <tr>
                  <th>图片</th>
                  <th>产品名</th>
                  <th>价格 (£)</th>
                  <th>分类</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                  <span class="file">
                  <input class="form-control" type="file">
                  <label class="btn btn-primary" for="file">选择图片</label>
                  </span>
                  </td>
                  <td><input class="form-control" type="text" id="new-name"></td>
                  <td><input class="form-control" type="text" id="new-price"></td>
                  <td>
                    <select class="form-control">
                      <option>五谷杂粮</option>
                      <option>方便食品</option>
                      <option>休闲饮品</option>
                      <option>烹饪食材</option>
                      <option>家居用品</option>
                      <option>美妆用品</option>
                    </select>
                  </td>
                  <td><a href="#" id="add-product" type="submit" class="btn btn-primary">添加</a></td>
                </tr>
                {{#each products}}
                  <tr>
                    <td></td>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.category}}</td>
                    <td><a data-id={{this.id}} href="#" class="btn btn-warning btn-delete">删除</a></td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
    </div>
  </div>
</div>