<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row" id="admin-orders">
        <div class="col-xs-12">
          <h5>订单列表</h5>
          <table class="table table-striped push-down-30">
              <thead>
                  <tr>
                      <th>订单号</th>
                      <th>状态</th>
                      <th>下单时间</th>
                      <th>预约时间</th>
                      <th>查看详情</th>
                  </tr>
              </thead>
              <tbody>
              {{#each orders}}
                  <tr>
                      <td>{{this.id}}</td>
                      <td>{{this.status}}</td>
                      <td>{{this.created}}</td>
                      <td>{{this.deliveryDetails.date}}<br>{{this.deliveryDetails.time}}</td>
                      <td><a class="show-order btn btn-primary" href="#orderModal" data-id="{{this.id}}" role="button" data-toggle="modal">查看</a></td>
                  </tr>
              {{/each}}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{> order-modal}}