<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row" id="account-dashboard">
        <div class="col-xs-12">
          <div class="banners--big">
          <h3 class="text-center">管理界面</h3>
          </div>
          <div class="row text-center">
            <a href="#home">返回主页</a> -
            <a href="#admin/orders" class="switch" data-tab="orders">订单管理</a> -
            <a href="#admin/products" class="switch" data-tab="products">产品管理</a> -
            <a href="#admin/users" class="switch" data-tab="users">用户管理</a>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>