<div class="modal" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content  center">
      <div class="modal-header"></div>
      <div class="modal-body">
          <div class="row">
            <div class='col-xs-12'>
              <button type="button" class="close" data-target="addressModal" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
              <h3>选择地址</h3>
              {{> divider}}
            </div>
          </div>
          <div class="row" id="address-list"></div>
          <div class="row">
            {{> divider}}
            没有找到地址？<a href="#" data-target="addressModal" data-dismiss="modal" class="select-address">手动输入</a>
          </div>
      </div>
    </div>
  </div>
</div>