<div class="modal" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content  center">
      <div class="modal-header"></div>
      <div class="modal-body">
          <div class="row">
            <div class='col-xs-12'>
              <button type="button" class="close" data-target="bookingModal" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
              <h3>选择送货时间</h3>
              {{> divider}}
            </div>
          </div>
          <div class="row">
          {{#each timeslots}}
            <div class='col-xs-12 col-sm-4 push-down-10'>
              <a href="#" data-id={{this.id}} data-target="bookingModal" data-dismiss="modal" class="delivery-date btn btn-primary--reverse-transition {{#if this.selected}}selected{{/if}}">{{this.day}}<span class='icon-text-more'>{{this.date}}</span><span class='icon-text-not-show'>{{this.time}}</span></a>
            </div>
          {{/each}}
          </div>
          <div class="row">
            {{> divider}}
            <a href="#">了解更多</a> | <a href="#">需要帮助?</a> | <a href="#" data-target="bookingModal" data-dismiss="modal" class="secondary-color delivery-date" data-id=0>清除选择</a>
          </div>
      </div>
    </div>
  </div>
</div>