<div class="modal" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content  center">
      <div class="modal-header"></div>
      <div class="modal-body">
          <div class="row">
            <div class='col-xs-12'>
              <button type="button" class="close" data-target="orderModal" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
              <h3>订单详情</h3>
              <div class="text-center">
              {{> update-buttons}}
              </div>
              {{> divider}}
            </div>
          </div>
          <div class="row">
            <table class="table order_table push-down-30">
            <thead>
              <tr>
                <th>订单号</th>
                <td>{{order.id}}</td>
              </tr>
              <tr>
                <th>预计送达时间</th>
                <td>{{order.deliveryDetails.day}} {{order.deliveryDetails.date}} {{order.deliveryDetails.time}}</td>
              </tr>
              <tr>
                <th>订单总计</th>
                <td>£{{order.total}}</td>
              </tr>
              <tr>
                <th>付款方式</th>
                <td>英镑现金支付</td>
              </tr>
              <tr>
                <th>收件人</th>
                <td>{{order.deliveryDetails.fullname}}</td>
              </tr>
              <tr>
                <th>联系电话</th>
                <td>{{order.deliveryDetails.phone}}</td>
              </tr>
              <tr>
                <th>邮箱</th>
                <td>{{order.deliveryDetails.email}}</td>
              </tr>
              <tr>
                <th>收件地址</th>
                <td>{{{order.deliveryDetails.address}}}<br>{{order.deliveryDetails.postcode}}</td>
              </tr>
              <tr>
                <th>备注</th>
                <td>{{{order.deliveryDetails.notes}}}</td>
              </tr>
            </thead>
            </table>
            {{> divider}}
            <table class="table order_table push-down-30">
              <thead>
                <tr>
                  <th class="product-name text-left col-xs-8">商品名称</th>
                  <th class="product-count text-left col-xs-2">数量</th>
                  <th class="product-total text-left col-xs-2">总价</th>
                </tr>
              </thead>
              <tfoot>
                <tr class="cart-subtotal">
                  <th>商品总计</th>
                  <td colspan="2"><span class="amount">£{{order.total}}</span></td>
                </tr>
                <tr class="shipping">
                  <th>运费</th>
                  <td colspan="2">免费</td>
                </tr>
                <tr class="total">
                  <th><strong>订单总计</strong></th>
                  <td colspan="2">
                    <strong><span class="amount">£{{order.total}}</span></strong>
                  </td>
                </tr>
              </tfoot>
              <tbody>
              {{#each order.items}}
              <tr>
                <td class="product-name">{{this.name}}<br>
                  <strong>单价:</strong> £{{this.price}}
                </td> 
                <td class="product-count"><span class="count">{{this.quantity}}</span></td>
                <td class="product-total"><span class="amount">£{{showTotal this.quantity this.price}}</span></td>
              </tr>
              {{/each}}
              </tbody>
            </table>
            <div class="text-center">
            {{> update-buttons}}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>