
<!-- Modal search-->
<div class="modal" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content  center">
      <div class="modal-header">
        <button type="button" class="close" data-target="searchModal" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
        <h3>搜索</h3>
        {{> divider}}
      </div>
      <div class="modal-body">
        <form action="#" class="push-down-15">
          <div class="form-group">
            <input type="text" id="name" class="form-control  form-control--contact" placeholder="搜索商品名称，类别，关键字">
          </div>
          <a class="btn btn-primary">搜索</a>
        </form>
      </div>
    </div>
  </div>
</div>