
  <!-- Big banner -->
  <div class="row">
    <div class="col-xs-12">
      <div class="push-down-30">
        <div class="banners--big">
          晚上 <strong>6:00pm</strong> 前下单，可预约 <strong>当天</strong> 送达，免运费，无最低消费
        </div>
      </div>
    </div>
  </div>