  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav>
          <ol class="breadcrumb">
            {{#each breadcrumbs}}
            <li class="{{this.styles}}">
            {{#if this.link}}<a href="{{this.link}}">{{this.label}}</a>
            {{else}}{{this.label}}
            {{/if}}
            </li>
            {{/each}}
          </ol>
        </nav>
      </div>
    </div>
  </div>