
        <table id="cart-checkout" class="shop_table  push-down-30">
          <thead>
            <tr>
              <th class="product-name">商品名称</th>
              <th class="product-total">总价</th>
            </tr>
          </thead>
          <tfoot>
            <tr class="cart-subtotal">
              <th>商品总计</th>
              <td><span class="amount">£<span class="cart-total">0.00</span></span></td>
            </tr>
            <tr class="shipping">
              <th>运费</th>
              <td>免费</td>
            </tr>
            <tr class="total">
              <th><strong>订单总计</strong></th>
              <td>
                <strong><span class="amount">£<span class="cart-total">0.00</span></span></strong>
              </td>
            </tr>
          </tfoot>
          <tbody>
          </tbody>
        </table>