<td class="product-name">{{name}}<br>
	<strong>单价:</strong> £{{price}}
</td> 
<td class="product-count"><span class="count">{{quantity}}</span></td>
<td class="product-total"><span class="amount">£{{showTotal quantity price}}</span></td>