<div class="header-cart__product  clearfix  js--cart-remove-target"> 
	<div class="header-cart__product-image"> 
		<img alt="Product in the cart" src="images/dummy/product-cart.jpg" width="40" height="50"> 
	</div> 
	<div class="header-cart__product-image--hover"> 
		<a href="#" class="js--remove-item" data-target=".js--cart-remove-target"><span class="glyphicon  glyphicon-circle  glyphicon-remove"></span></a> 
	</div> 
	<div class="header-cart__product-title"> 
		<a class="header-cart__link" href="#shop/{{id}}">{{name}}</a> 
		<span class="header-cart__qty">Qty: {{quantity}}</span> 
		<span class="header-cart__qty">Price: £{{price}}</span> 
	</div> 
	<div class="header-cart__price"> 
		£{{showTotal quantity price}} 
	</div> 
</div>