<td class="product-remove">
	<a href="#" class="js--remove-item" data-target=".cart_table_item">
		<span class="glyphicon  glyphicon-remove"></span>
	</a>
</td> 
<td class="product-thumbnail"> 
	<img src="{{image}}">
</td> 
<td class="product-name">
	<a href="#shop/{{id}}">{{name}}</a>
</td>
<td class="product-quantity"> 
	<div class="quantity  js--quantity"> 
        <input type="button" value="-" class="quantity__button  js--minus-one  js--clickable" data-target=".cart_table_item">
        <input type="tel" name="quantity" value="{{quantity}}" class="quantity__input" data-target=".cart_table_item">
        <input type="button" value="+" class="quantity__button  js--plus-one  js--clickable" data-target=".cart_table_item">
	</div> 
</td> 
<td class="product-subtotal">£{{showTotal quantity price}}</td>