
    <div class="footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-xs-12  col-sm-3">
            <div class="footer-widgets__social">
            <!--
              <img class="push-down-10" alt="Footer Logo" src="images/logo-footer.png" width="139" height="35">
              -->
              <p class="push-down-10"><a class="primary-color" href="#"><span class="glyphicon glyphicon-bold"></span><span class="glyphicon glyphicon-plus-sign"></span></a></p>
              <p class="push-down-15">Adipiscing elit. Ut ullamcorper consectetur, non lacinia turpis suscipit non. Estibulum nu nc lacus, tincidunt non odio eu, scelerisque tristique quam.</p>
              <a class="social-container" href="https://www.facebook.com/ProteusNet"><span class="zocial-facebook"></span></a>
              <a class="social-container" href="https://twitter.com/ProteusNetCom"><span class="zocial-twitter"></span></a>
              <a class="social-container" href="#"><span class="zocial-email"></span></a>
              <a class="social-container" href="http://www.youtube.com/user/ProteusNetCompany"><span class="zocial-youtube"></span></a>
            </div>
          </div>
          <div class="col-xs-12  col-sm-3">
            <nav class="footer-widgets__navigation">
              <div class="footer-wdgets__heading--line">
                <h4 class="footer-widgets__heading">页面导航</h4>
              </div>
              <ul class="nav nav-footer">
                <li><a href="#index">首页</a></li>
                <li><a href="#shop">全部商品</a></li>
                <li><a href="#categories">浏览分类</a></li>
                <li><a href="#delivery">产品与运送</a></li>
                <li><a href="#services">其他服务</a></li>
                <li><a href="#about">关于百佳</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-xs-12  col-sm-3">
            <div class="footer-widgets__navigation">
              <div class="footer-wdgets__heading--line">
                <h4 class="footer-widgets__heading">最受欢迎</h4>
              </div>
              <a class="tag" href="#shop/2">Food</a> <a class="tag" href="#shop/2">Fungus</a> <a class="tag" href="#shop/2">Lifestyle</a> <a class="tag" href="#shop/2">Extras</a> <a class="tag" href="#shop/2">Tea</a> <a class="tag" href="#shop/2">Coffe</a> <a class="tag" href="#shop/2">Fruit</a> <a class="tag" href="#shop/2">Fruti &amp; vegetables</a> <a class="tag" href="#shop/2">Fungus</a> <a class="tag" href="#shop/2">Healthy</a>
            </div>
          </div>
          <div class="col-xs-12  col-sm-3">
            <div class="footer-widgets__navigation">
                <div class="footer-wdgets__heading--line">
                  <h4 class="footer-widgets__heading">联系我们</h4>
                </div>
                <a class="footer__link" href="#">Bestplus ltd.</a><br>
                Tehnološki park 19,<br>
                1000 Ljubljana, Slovenia<br>
                <a class="footer__link--small" href="#contact">View Google map <span class="glyphicon glyphicon-chevron-right glyphicon--footer-small"></span></a><br><br>
                <a class="footer__link" href="#"><span class="glyphicon glyphicon-earphone glyphicon--footer"></span> +386 31 567 537</a><br>
                <a class="footer__link" href="#"><span class="glyphicon glyphicon-envelope glyphicon--footer"></span> hello@proteusnet.com</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12  col-sm-6">
            <div class="footer__text--link">
              <a class="footer__link" href="#">百佳 Bestplus</a> © Copyright 2016. Images of products by <a class="footer__link" href="http://www.nutrisslim.com/" target="_blank">Nutrisslim</a>.
            </div>
          </div>
          <div class="col-xs-12  col-sm-6">
            <div class="footer__text">
            </div>
          </div>
        </div>
      </div>
    </div>