
      <div class="container">
        <div class="row">
          <div class="col-xs-2  visible-sm  visible-xs">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle  collapsed" data-toggle="collapse" data-target="#collapsible-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          </div>
          <div class="col-xs-10  visible-sm visible-xs">
          {{> header-cart}}
          </div>
          <div class="col-xs-12 col-sm-12  col-md-8">
            <nav class="navbar  navbar-default" role="navigation">
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse  navbar-collapse" id="collapsible-navbar">
                <ul class="nav  navbar-nav">
                  <li class="dropdown">
                    <a href="#shop" class="dropdown-toggle">亚洲食品<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#shop">休闲食品</a></li>
                      <li><a href="#shop">烹饪调料</a></li>
                      <li><a href="#shop">五谷杂粮</a></li>
                      <li><a href="#shop">冷冻食品</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#shop" class="dropdown-toggle">生活杂物<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#shop">厨房用具</a></li>
                      <li><a href="#shop">美妆用品</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#shop">限时优惠</a>
                  </li>
                  <li class="dropdown">
                    <a href="#shop" class="dropdown-toggle">关于百佳<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#shop">最快递</a></li>
                      <li><a href="#shop">联系我们</a></li>
                      <li><a href="#shop">关于我们</a></li>
                    </ul>
                  </li>
                  <li class="hidden-sm hidden-xs">
                    <a class="primary-color" href="#bookingModal" role="button" data-toggle="modal"><b>选择送货时间</b></a>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </nav>
          </div>
          <div class="col-xs-2  col-md-4 hidden-xs hidden-sm">
          {{> header-cart}}
          </div>
        </div>
      </div>