
          <!-- Cart in header -->
          <div class="header-cart">
            <a href="#cart" class="btn btn-primary open-cart"><span class="glyphicon glyphicon-shopping-cart"></span> £<span class="cart-total">0.00</span> (<span class="cart-count">0</span> 件商品)</a>
            <!-- Open cart panel -->
            <div class="header-cart__open-cart">
                <div class="header-cart-list"></div>
                <hr class="header-cart__divider">
                <div class="header-cart__subtotal-box">
                    <span class="header-cart__subtotal">总额:</span>
                    <span class="header-cart__subtotal-price">£<span class="cart-total">0.00</span></span>
                </div>
                <a class="btn btn-darker" href="#cart">查看购物车</a>
            </div>
          </div>