

<div class="push-down-20  clearfix">
  <a href="#shop/2">
    <img alt="" class="widgets__products" width="78" height="78" src="{{image}}">
  </a>
  <h5 class="products__title">
    <a class="products__link" href="#shop/2">{{name}}</a>
  </h5>
  <span class="line-through">£11.25</span> <span class="products__price--widgets">£{{price}}</span>

  <a href="#" class="pull-right add-to-cart btn btn-primary--reverse-transition"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-shopping-cart"></span></a>

</div>