<div id="home-slider">
  <div class="owl-carousel">
  	<a href="#shop/2">
  		<img class="object-fit img-responsive" src="http://global01.mifile.cn/v1/MI_25943454643F6/T1e9DTBXZv1RXrhCrK.jpg">
  	</a>
  	<a href="#shop/2">
  		<img class="object-fit img-responsive" src="http://global01.mifile.cn/v1/MI_25943454643F6/T1.RKTBKCT1RXrhCrK.jpg">
  	</a>
  	<a href="#shop/2">
        <img class="object-fit img-responsive" src="images/slider4.jpeg" alt="">
  	</a>
  	<a href="#shop/2">
        <img class="object-fit img-responsive" src="images/slider3.jpeg" alt="">
  	</a>
  	<a href="#shop/2">
        <img class="object-fit img-responsive" src="images/slider2.jpeg" alt="">
  	</a>
  </div>
</div>