<div class="col-xs-6 col-sm-3  js--isotope-target">
<div class="products__single"> 
  <figure class="products__image"> 
    <a href="#shop/{{id}}"> 
      <img alt="#" class="product__image" src="{{image-170}}"> 
    </a>
  </figure> 
  <div class="row"> 
    <div class="col-xs-12 push-down-10">
      <a href="#" class="add-to-cart btn btn-md btn-info" alt="加入购物车"><span class="glyphicon glyphicon-plus"></span> £{{price}}</a> 
    </div>
    <div class="col-xs-12"> 
      <h5 class="products__title"> 
        <a class="products__link  js--isotope-title" href="#shop/{{id}}">{{name}}</a> 
      </h5> 
    </div> 
    <div class="col-xs-12">
      <div class="products__category"> 
        {{category}} 
      </div> 
    </div>
  </div> 
</div>
</div>