<div id="carousel-example-generic" class="carousel  slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item  active">
      <img src="images/organic-slider-1.jpg" alt="">
      <div class="carousel-caption">

        <div class="jumbotron__container">
          <h2 class="jumbotron__subtitle">
            Awesome oppurtunity to save a lof of money on
          </h2>
          <h1 class="jumbotron__title">
            Fresh organic food
          </h1>
          <a class="btn  btn-warning" href="#shop" target="_blank">立即预订</a> &nbsp;
          <a class="btn  btn-jumbotron" href="#shop">查看所有商品</a>
        </div>

      </div>
    </div>
    <div class="item">
      <img src="images/organic-slider-2.jpg" alt="">
      <div class="carousel-caption">

        <div class="jumbotron__container">
          <h2 class="jumbotron__subtitle">
            Awesome oppurtunity to save a lof of money on
          </h2>
          <h1 class="jumbotron__title">
            Fresh organic food
          </h1>
          <a class="btn  btn-warning" href="#shop" target="_blank">立即预订</a> &nbsp;
          <a class="btn  btn-jumbotron" href="#shop">查看所有商品</a>
        </div>

      </div>
    </div>
    <div class="item">
      <img src="images/organic-slider-3.jpg" alt="">
      <div class="carousel-caption">

        <div class="jumbotron__container">
          <h2 class="jumbotron__subtitle">
            Awesome oppurtunity to save a lof of money on
          </h2>
          <h1 class="jumbotron__title">
            Fresh organic food
          </h1>
          <a class="btn  btn-warning" href="#shop" target="_blank">立即预订</a> &nbsp;
          <a class="btn  btn-jumbotron" href="#shop">查看所有商品</a>
        </div>

      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left  carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon  glyphicon-chevron-left"></span>
  </a>
  <a class="right  carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon  glyphicon-chevron-right"></span>
  </a>
</div>