<div class="top  js--fixed-header-offset">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="top__menu">
          <ul class="nav  nav-pills">

            <li class="pull-left"><a class="primary-color" href="#">首页</a></li>
            <li class="pull-left"><a class="primary-color" href="#admin">管理</a></li>

            <!--<li class="pull-left visible-sm visible-xs"><a href="#index"><img src="images/favicon.png"></a></li>-->

            <li class="pull-right"><a href="#searchModal" role="button" data-toggle="modal"><span class="glyphicon  glyphicon-search"></span></a></li>

            <li class="pull-right"><a href="#account"><span class="glyphicon  glyphicon-user"></span></a></li>

            <li class="pull-right"><a href="#bookingModal" role="button" data-toggle="modal"><span class="selected-delivery icon-text">{{#if selectedDate.slot}}{{selectedDate.day}} <span class='icon-text-more'>{{selectedDate.date}} </span>{{else}}选择送货日期 {{/if}}</span><span class="glyphicon glyphicon-calendar"></span></a></li>

            <!--
            <li class="dropdown  js--mobile-dropdown">
              <a class="dropdown-toggle" href="#">
                 <span class="glyphicon  glyphicon-globe"></span> <span>选择语言</span></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">中文</a></li>
                <li><a href="#">English</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{> search-modal}}
{{> booking-modal}}