
<button data-target="orderModal" data-dismiss="modal" aria-hidden="true" data-status=1 class="update-order btn btn-info">准备中</button>
<button data-target="orderModal" data-dismiss="modal" aria-hidden="true" data-status=2 class="update-order btn btn-primary">已发货</button>
<button data-target="orderModal" data-dismiss="modal" aria-hidden="true" data-status=3 class="update-order btn btn-default">已签收</button>
<button data-target="orderModal" data-dismiss="modal" aria-hidden="true" data-status=4 class="update-order btn btn-warning">无效订单</button>