
<button data-target="orderModal" data-dismiss="modal" aria-hidden="true" data-status=5 class="update-order btn btn-info">添加备注</button>
<button data-target="orderModal" data-dismiss="modal" aria-hidden="true" data-status=4 class="update-order btn btn-primary">取消订单</button>