<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-not-found">
        <div class="page-not-found__background">
          <img alt="404" src="images/404.png" width="217" height="222">
        </div>
        <h1><span class="light">很抱歉</span> 您请求的页面不存在!</h1>
        {{> divider}}
        <span class="page-not-found__text">
          <a class="page-not-found__link back" href="#">返回上一页</a> | 
          <a class="page-not-found__link" href="#index">首页</a> | 
          <a class="page-not-found__link" href="#shop">商品列表</a>
        </span>
        {{> divider}}
        <span class="page-not-found__text">如果您需要该商品的信息，请 <a class="page-not-found__link" href="#contact">联系我们</a></span>
      </div>
    </div>
  </div>
</div>