<div class="woocommerce  push-down-30">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banners--big">
                <h3 class="text-center">购物车</h3>
                </div>
                <hr>
                <table id="cart-detail" class="shop-table  shop-cart">
                    <thead>
                        <tr class="cart_table_title">
                            <th class="product-remove"></th>
                        <!--
                            <th class="product-thumbnail"></th>
                            -->
                            <th colspan="2" class="product-name">商品名称</th>
                            <th class="product-quantity">数量</th>
                            <th class="product-subtotal">总价</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12">
            
            {{> divider}}
                <table class="shop_table text-center">
                    <tfoot>
                        <tr class="cart-subtotal">
                            <th class="text-left col-xs-6">商品总计</th>
                            <td class="text-left col-xs-6"><span class="amount">£<span class="cart-total">0.00</span></span>
                            </td>
                        </tr>
                        <tr class="shipping">
                            <th class="text-left col-xs-6">运费</th>
                            <td class="text-left col-xs-6">免费</td>
                        </tr>
                        {{#if coupon}}
                        <tr class="coupon">
                            <th class="text-left col-xs-6">优惠码</th>
                            <td class="text-left col-xs-6"><i>{{coupon.code}}</i> <br> <i>{{coupon.discount}}</i></td>
                        </tr>
                        <tr class="bill">
                            <th class="text-left col-xs-6">订单总计</th>
                            <td class="text-left col-xs-6">
                                <strong><span class="amount"></span></strong>
                            </td>
                        </tr>
                        {{else}}
                        <tr class="bill">
                            <th class="text-left col-xs-6">总金额</th>
                            <td class="text-left col-xs-6">
                                <strong><span class="amount">£<span class="cart-total">0.00</span></span></strong>
                            </td>
                        </tr>
                        {{/if}}
                        <tr class="bill">
                            <th class="text-left col-xs-6">送货时间</th>
                            <td class="text-left col-xs-6">
                                <a href="#bookingModal" role="button" data-toggle="modal" class="selected-time">未选择</a>
                            </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <button id="checkout" class="btn btn-primary stick-bottom pull-right">下一步</button>
                            <a href="#shop" class="btn btn-warning stick-bottom pull-left">继续购物</a>
                          </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        {{> divider}}
    </div>
</div>