<div class="woocommerce  push-down-30">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banners--big">
          <h3 class="text-center">快速下单</h3>
        </div>
        <hr>
        <p class="woocommerce-info">已有账户? <a href="#">点击登录</a>快速下单 或 <a href="#">注册新用户</a></p>
      </div>
      <form id="checkout-form">
      <div class="col-xs-12  col-sm-6">
        <h3><span class="light">收货地址</span></h3>
        <div class="row">
          <div class="col-xs-12  col-sm-12  push-down-10">
            <p>
              <label>
                邮编 / Postcode
                <abbr class="required">
                  *
                </abbr>
              </label>
              <input name="postcode" class="input-text  push-down-10 col-xs-6" placeholder="输入邮编选择地址" autocomplete="off">
            </p>
          </div>
        </div>
        <div class="row" id="address-wrap">
            <div class="col-xs-12 col-sm-12">
                <p>
                    <label>
                      地址 / Address
                    </label>
                    <textarea id="address" class="input-text" rows="10"></textarea>
                </p>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3><span class="light">收件人信息</span></h3>
        <div class="row">
          <div class="col-xs-12  col-sm-12  push-down-10">
            <p>
              <label>
                姓名 / Full Name
                <abbr class="required">
                  *
                </abbr>
              </label>
              <input type="text" name="fullname" placeholder="姓名 / Fullname" class="input-text">
            </p>
          </div>
          <div class="col-xs-12  col-sm-12  push-down-10">
            <p>
              <label>
                邮箱 / Email Address
                <abbr class="required">
                  *
                </abbr>
              </label>
              <input type="email" name="email" placeholder="邮箱 / Email" class="input-text">
            </p>
          </div>
          <div class="col-xs-12  col-sm-12  push-down-10">
            <p>
              <label>
                电话 / Phone
                <abbr class="required">
                  *
                </abbr>
              </label>
              <input type="tel" name="phone" placeholder="电话 / Phone" class="input-text">
            </p>
          </div>
          <div class="col-xs-12  col-sm-12  push-down-10">
            <p>
              <label>
                备注信息 / Other notes
                </abbr>
              </label>
              <textarea name="notes" class="input-text" rows="3"></textarea>
            </p>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-xs-12">
        <!-- Your order - table -->
        <h3><span class="light">订单详情</span></h3>

        <table id="cart-checkout" class="shop_table  push-down-30">
          <thead>
            <tr>
              <th class="product-name text-left col-xs-8">商品名称</th>
              <th class="product-count text-left col-xs-2">数量</th>
              <th class="product-total text-left col-xs-2">总价</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

        {{> divider}}

        <table class="shop_table text-center">
            <tfoot>
                <tr class="cart-subtotal">
                    <th class="text-left col-xs-6">商品总计</th>
                    <td class="text-left col-xs-6"><span class="amount">£<span class="cart-total">0.00</span></span>
                    </td>
                </tr>
                <tr class="shipping">
                    <th class="text-left col-xs-6">运费</th>
                    <td class="text-left col-xs-6">免费</td>
                </tr>
                {{#if coupon}}
                <tr class="coupon">
                    <th class="text-left col-xs-6">优惠码</th>
                    <td class="text-left col-xs-6"><i>{{coupon.code}}</i> <br> <i>{{coupon.discount}}</i></td>
                </tr>
                <tr class="bill">
                    <th class="text-left col-xs-6">订单总计</th>
                    <td class="text-left col-xs-6">
                        <strong><span class="amount"></span></strong>
                    </td>
                </tr>
                {{else}}
                <tr class="bill">
                    <th class="text-left col-xs-6">总金额</th>
                    <td class="text-left col-xs-6">
                        <strong><span class="amount">£<span class="cart-total">0.00</span></span></strong>
                    </td>
                </tr>
                {{/if}}
                <tr class="bill">
                    <th class="text-left col-xs-6">送货时间</th>
                    <td class="text-left col-xs-6">
                        <span class="selected-time">未选择</span>
                    </td>
                </tr>
                <tr class="payment">
                    <th class="text-left col-xs-6">付款方式</th>
                    <td class="text-left col-xs-6">
                        <span>英镑现金支付</span>
                    </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button id="place-order" class="btn btn-primary stick-bottom pull-right">立即下单</button>
                    <a href="#cart" class="btn btn-warning stick-bottom pull-left">返回购物车</a>
                  </td>
                </tr>

            </tfoot>
        </table>
      </div>
      </div>
    </div>
    {{> divider}}
  </div>
</div>