<div class="container" id="product-detail">
  <div class="row">
    <div class="col-xs-12 visible-xs text-center">
      <h3 class="push-down-0">{{name}}</h3>
    </div>
  </div>
  <div class="push-down-30">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div id="detail-slider">
          <div class="owl-carousel">
            <img src="{{image-640}}" alt="" class="img-responsive" />
            <img src="{{image-640}}" alt="" class="img-responsive" />
            <img src="{{image-640}}" alt="" class="img-responsive" />
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="products__content">
          <div class="push-down-30"></div>
          <span class="products__category">{{category}}</span>
          <h1 class="single-product__title">{{name}}</h1>
          <span class="single-product__price">£{{price}}</span>
          <div class="single-product__rating">
            <span class="glyphicon  glyphicon-star  star-on"></span>
            <span class="glyphicon  glyphicon-star  star-on"></span>
            <span class="glyphicon  glyphicon-star  star-on"></span>
            <span class="glyphicon  glyphicon-star  star-on"></span>
            <span class="glyphicon  glyphicon-star  star-off"></span>
          </div>
          <div class="in-stock--single-product">
            <span class="in-stock">&bull;</span> <span class="in-stock--text">有货</span>
          </div>
          <hr class="bold__divider">
          <p class="single-product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate, leo vel malesuada tincidunt, purus nunc tristique erat, at elementum tellus mi nec mi. Nunc rutrum ullamcorper. In hac habitasse platea tumst. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. Vestibulum lorem dolor,  pharetra sit amet urna nec, hendrerit scelerisque risus. In hac habitasse platea dictumst.
          </p>
          <hr class="bold__divider">
          <!-- Single button 
          <select class="btn  btn-shop">
            <option>350g</option>
            <option>700g</option>
            <option>1200g</option>
          </select>
          -->
          <!-- Quantity buttons -->
          <div class="col-xs-12 col-sm-4 quantity  js--quantity push-down-10">
            <input type="button" value="-" class="quantity__button  js--minus-one  js--clickable">
            <input type="tel" name="quantity" value="1" class="quantity__input">
            <input type="button" value="+" class="quantity__button  js--plus-one  js--clickable">
          </div>
          <!-- Add to cart button -->
          <div class="col-xs-12 col-sm-8 push-down-10">
            <a class="btn btn-lg btn-primary stick-bottom" href="#" id="add-to-cart">
              <span class="glyphicon glyphicon-plus"></span>
              <span class="single-product__btn-text">加入购物车</span>
            </a>
          </div>
          <!-- Social banners -->
          <div class="row">
            <div class="col-xs-12  col-sm-6  col-md-4">
              <div class="banners--small  banners--small--social">
                <a href="#" class="social"><span class="zocial-facebook"></span>
                Share on<br>
                <span class="banners--small--text">Facebook</span>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6  col-md-4">
              <div class="banners--small  banners--small--social">
                <a href="#" class="social"><span class="zocial-twitter"></span>
                Tweet it<br>
                <span class="banners--small--text">Twitter</span>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6  col-md-4">
              <div class="banners--small  banners--small--social">
                <a href="#" class="social"><span class="zocial-pinterest"></span>
                Pin on<br>
                <span class="banners--small--text">Pinterest</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabs -->
  <div class="push-down-30">
    <div class="row">
      <div class="col-xs-12">
      {{> tabs}}
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <div class="push-down-30">
    <div class="products-navigation">
      <div class="products-navigation__title">
        <h3><span class="light">相关</span> 产品</h3>
      </div>
    </div>
  </div>

  <!-- Products -->
  <div class="push-down-30">
    <div class="row" id="related-products">
    <!-- product list -->
    </div>
  </div>
</div>
