
      <div class="container push-down-30">
        {{> slider}}
      </div>
      <div class="container">
        <!-- Banners medium -->
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <a href="#shop">
              <div class="banners--small">
                <span class="banners-text">休闲食品</span>
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="#shop">
              <div class="banners--small">
                <span class="banners-text">烹饪调料</span>
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="#shop">
              <div class="banners--small">
                <span class="banners-text">五谷杂粮</span>
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="#shop">
              <div class="banners--small">
                <span class="banners-text">冷冻食品</span>
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="#shop">
              <div class="banners--small">
                <span class="banners-text">方便食品</span>
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="#shop">
              <div class="banners--small">
                <span class="banners-text">新鲜果蔬</span>
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="#shop">
              <div class="banners--small">
                <span class="banners-text">家居用品</span>
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="#shop">
              <div class="banners--small">
                <span class="banners-text">美妆用品</span>
              </div>
            </a>
          </div>
        </div>

        {{> divider }}

        <!-- Banners big -->
        <!--
        <div class="banners--big  banners--big-left">
          <div class="row">
            <div class="col-xs-12  col-md-7">
              <div class="banners--big__text">
                订阅邮件，获取最新商品信息
              </div>
            </div>
            <div class="col-xs-12  col-md-5">
              <div class="banners--big__form">
                <form action="http://proteusthemes.us4.list-manage.com/subscribe/post?u=ea0786485977f5ec8c9283d5c&amp;id=5dad3f35e9" method="post" name="mc-embedded-subscribe-form" role="form" target="_blank">
                  <div class="form-group  form-group--form">
                    <input type="email" name="EMAIL" class="form-control  form-control--form" placeholder="输入邮箱" required>
                    <button class="btn  btn-primary" type="submit">立即订阅</button>
                  </div>
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_ea0786485977f5ec8c9283d5c_5dad3f35e9" value=""></div>
                </form>
              </div>
            </div>
          </div>
        </div>
        -->
        
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="widgets__navigation">
              <div class="widgets__heading--line">
                <h4 class="widgets__heading">最新上架</h4>
              </div>
              <div id="new-products"></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="widgets__navigation">
              <div class="widgets__heading--line">
                <h4 class="widgets__heading">最受欢迎</h4>
              </div>
              <div id="featured-products"></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="widgets__navigation">
              <div class="widgets__heading--line">
                <h4 class="widgets__heading">推荐商品</h4>
              </div>
              <img alt="#" class="product__image" src="images/dummy-licensed/recipe.jpg" width="353" height="186">
              <div class="products__title">
                <div class="push-down-10"></div>
                Delicious organic big-ecologic sandwich
              </div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est purus, fringilla sit amet arcu quis, feugiat ultrices metus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus.
            </div>
          </div>
        </div>

        {{> divider }}
        
      </div>