<div class="woocommerce  push-down-30">
  <div class="container">
    <div class="banners--big">
      <h3 class="text-center">订单确认</h3>
    </div>
    <hr>
    <div class="order_details">
      <p>您的订单已经成功提交！请注意查收确认邮件。</p>
    </div>
    <br>
    <p>我们的司机会在快抵达时电话联系您。如需任何更改或帮助，请致电 012345678。</p>
    <p>为方便我们的服务，请准备好英镑现金交予我们的送货司机。</p>
    <p>本站暂不接受其他付款方式，如有不便敬请谅解。</p>
    <h2><span class="light">收件信息</span></h2>
    <table class="shop_table  push-down-30">
    <tbody>
      <tr>
        <th>订单号</th>
        <td>{{order.id}}</td>
      </tr>
      <tr>
        <th>状态</th>
        <td>{{order.status}}</td>
      </tr>
      <tr>
        <th>预计送达时间</th>
        <td>{{order.deliveryDetails.day}} {{order.deliveryDetails.date}} {{order.deliveryDetails.time}}</td>
      </tr>
      <tr>
        <th>订单总计</th>
        <td>£{{order.total}}</td>
      </tr>
      <tr>
        <th>付款方式</th>
        <td>英镑现金支付</td>
      </tr>
      <tr>
        <th>收件人</th>
        <td>{{order.deliveryDetails.fullname}}</td>
      </tr>
      <tr>
        <th>联系电话</th>
        <td>{{order.deliveryDetails.phone}}</td>
      </tr>
      <tr>
        <th>邮箱</th>
        <td>{{order.deliveryDetails.email}}</td>
      </tr>
      <tr>
        <th>收件地址</th>
        <td>{{{order.deliveryDetails.address}}}<br>{{order.deliveryDetails.postcode}}</td>
      </tr>
      <tr>
        <th>备注</th>
        <td>{{{order.deliveryDetails.notes}}}</td>
      </tr>
    </tbody>
    </table>
    {{> divider}}
    <h2><span class="light">订单详情</span></h2>
        <table id="cart-checkout" class="shop_table  push-down-30">
          <thead>
            <tr>
              <th class="product-name text-left col-xs-8">商品名称</th>
              <th class="product-count text-left col-xs-2">数量</th>
              <th class="product-total text-left col-xs-2">总价</th>
            </tr>
          </thead>
          <tfoot>
            <tr class="cart-subtotal">
              <th>商品总计</th>
              <td colspan="2"><span class="amount">£{{order.total}}</span></td>
            </tr>
            <tr class="shipping">
              <th>运费</th>
              <td colspan="2">免费</td>
            </tr>
            <tr class="total">
              <th><strong>订单总计</strong></th>
              <td colspan="2">
                <strong><span class="amount">£{{order.total}}</span></strong>
              </td>
            </tr>
          </tfoot>
          <tbody>
          {{#each order.items}}
          <tr>
            <td class="product-name">{{this.name}}<br>
              <strong>单价:</strong> £{{this.price}}
            </td> 
            <td class="product-count"><span class="count">{{this.quantity}}</span></td>
            <td class="product-total"><span class="amount">£{{showTotal this.quantity this.price}}</span></td>
          </tr>
          {{/each}}
          </tbody>
        </table>
        <div class="row">
          <div class="col-xs-12">
            <a href="#shop" class="btn btn-warning">继续购物</a>
            <a href="#account/orders" class="btn btn-primary">查看账户</a>
          </div>
        </div>
    {{> divider}}
  </div>
</div>