<div class="container">
  <!-- Big banner -->
  {{> banner}}
  <div class="row">
    <div class="col-xs-12  col-sm-3 hidden-xs">
      <aside class="sidebar  sidebar--shop">
        <h3 class="sidebar__title"><span class="light">搜索条件</span></h3>
        <hr class="shop__divider">
        <div class="shop-filter">

          <h5 class="sidebar__subtitle">商品分类</h5>
          <ul class="nav  nav--filter">
          {{#each productCategories}}
            <li><a data-target=".js--cat-{{id}}" class="js--filter-selectable" href="#">{{name}}</a></li>
          {{/each}}
          </ul>

          {{> divider}}

          <h5 class="sidebar__subtitle">价格</h5>
          <div class="shop__filter__slider">
            <div class="js--jqueryui-price-filter"></div>
          </div>

          {{> divider}}
          <nav>
            <h5 class="sidebar__subtitle">产地</h5>
            <ul class="nav  nav--filter">
              <li><a href="#">台湾</a></li>
              <li><a href="#">日本</a></li>
              <li><a href="#">韩国</a></li>
              <li><a href="#">东南亚</a></li>
              <li><a href="#">其它</a></li>
            </ul>
          </nav>
          {{> divider}}
        </div>
      </aside>
    </div>
    <div class="col-xs-12  col-sm-9">
      <div class="grid">
        <ul class="pagination  shop__amount-filter">
        <!--
          <li>
            <a class="shop__amount-filter__link  hidden-xs" href="shop.html"><span class="glyphicon glyphicon-th"></span></a>
          </li>
          <li>
              <a class="shop__amount-filter__link  hidden-xs" href="shop-list-view.html"><span class="glyphicon glyphicon-th-list"></span></a>
          </li>
          -->
        </ul>
        <div class="shop__sort-filter">
          <select class="js--isotope-sorting  btn  btn-shop">
              <option value='{"sortBy":"price", "sortAscending":"true"}'>价格 (由低到高) &uarr;</option>
              <option value='{"sortBy":"price", "sortAscending":"false"}'>价格 (由高到低) &darr;</option>
              <option value='{"sortBy":"name", "sortAscending":"true"}'>名称 (A-Z) &uarr;</option>
              <option value='{"sortBy":"name", "sortAscending":"false"}'>名称 (Z-A) &darr;</option>
              <option value='{"sortBy":"rating", "sortAscending":"true"}'>评价 (由低到高) &uarr;</option>
              <option value='{"sortBy":"rating", "sortAscending":"false"}'>评价 (由高到低) &darr;</option>
          </select>
        </div>
        <hr class="shop__divider">
        <div class="row  js--isotope-container" id="products">
        </div>
        <hr class="shop__divider">
        <div class="shop__pagination">
          <ul class="pagination">
            <li><a class="pagination--nav" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li><a href="#">1</a></li>
            <li><a class="active" href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a class="pagination--nav" href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>